<div class="user-header text-center">
  <h1 class="title-medium">
    <%# Выводим имя пользователя %>
    <%= @user.name %>
  </h1>

  <div class="user-image-div">
    <%# Рисуем аватарку пользователя %>
    <%= image_tag user_avatar(@user), class: 'user-image', alt: '[Фото]' %>
  </div>

  <h2 class="title-small buffer-both">
    <%# Выводим никнейм пользователя с символом «@» перед ним. %>
    @<%= @user.username %>
  </h2>

  <div class="user-ask-button container text-center">
    <%= link_to "Спроси меня", '', class: 'button button-light', id: 'ask-button' %>
  </div>
</div>

<div class="column-3-4">
  <div class="user-questions buffer-both">
    <%= content_tag(:h3, t('user.questions', count: @questions.count), class: "title-medium buffer-both-large") %>
    <div class="questions-list">
      <% @questions.each do |question| %>
        <%= render partial: 'questions/question', object: question %>
      <% end %>
    </div>
  </div>
</div>
